# Loops in Python

Python For Loops. A for loop is used for iterating over a sequence (that 
is either a list, a tuple, a dictionary, a set, or a string). This is less like the 
for keyword in other programming languages, and works more like an 
iterator method as found in other object-orientated programming 
languages.

A while loop statement in Python programming language repeatedly 
executes a target statement as long as a given condition is true.

FOR--LOOP

In [23]:
mylist = [1, 2, 3, 4, 5, 16, 6, 7,  10, 12]

In [12]:

for num in mylist:
    print(num)

1
2
3
4
5
6
6
7
10
12

In [13]:
i = 0
for num in mylist:
    print(num, i)
    i += 1

1 0
2 1
3 2
4 3
5 4
6 5
6 6
7 7
10 8
12 9

In [14]:
for digits in mylist:
    print(digits)

1
2
3
4
5
6
6
7
10
12

In [15]:
i = 0
for digits in mylist:
    print(digits, i)
    i += 1

1 0
2 1
3 2
4 3
5 4
6 5
6 6
7 7
10 8
12 9

In [16]:
# check for even number
for num in mylist:
    if num%2 == 0:
        print(num)

2
4
6
6
10
12

In [17]:
# check for Odd number
for num in mylist:
    if num%2 != 0:
        print(num)

1
3
5
7

In [18]:
for num in mylist:
    if num%3 == 0:
        print(num)

3
6
6
12

In [25]:
mylist

[1, 2, 3, 4, 5, 16, 6, 7, 10, 12]

In [24]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
16
6
Odd number: 7
10
12

In [27]:
for num in mylist:
    if num % 2 == 0:
        print("even number:",num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
even number: 2
Odd number: 3
even number: 4
Odd number: 5
even number: 16
even number: 6
Odd number: 7
even number: 10
even number: 12

In [29]:
mylist

[1, 2, 3, 4, 5, 16, 6, 7, 10, 12]

In [28]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
print(list_sum)

66

In [30]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
31
37
44
54
66

In [31]:
my_string = 'Islam is the religion of peace'
for letter in my_string:
    print(letter)

I
s
l
a
m

i
s

t
h
e

r
e
l
i
g
i
o
n

o
f

p
e
a
c
e

In [32]:
my_string = 'Islam|is|the|religion|of|peace'
for letter in my_string:
    print(letter)

I
s
l
a
m
|
i
s
|
t
h
e
|
r
e
l
i
g
i
o
n
|
o
f
|
p
e
a
c
e

In [33]:
my_string = 'Islam-is-the-religion-of-peace'
for letter in my_string:
    print(letter)

I
s
l
a
m
-
i
s
-
t
h
e
-
r
e
l
i
g
i
o
n
-
o
f
-
p
e
a
c
e

In [34]:
my_tuple = (1, 2, 3, 5, 6, 7)
for x in my_tuple:
    print(x)

1
2
3
5
6
7

In [35]:
second_list = [(2, 4), (6, 7), (9,11), (15, 18), (21, 32)]

In [36]:
len(second_list)

5

In [37]:
for x in second_list:
    print(x)

(2, 4)
(6, 7)
(9, 11)
(15, 18)
(21, 32)

In [38]:
for x, y in second_list:
    print(x, y)

2 4
6 7
9 11
15 18
21 32

In [42]:
for x, y in second_list:
    print(x)

2
6
9
15
21

In [43]:
for x, y in second_list:
    print(y)

4
7
11
18
32

In [39]:
for a, b in second_list:
    print(a)
    print(b)

2
4
6
7
9
11
15
18
21
32

In [40]:
for a, b in second_list:
    print(a)

2
6
9
15
21

In [41]:
for a, b in second_list:
    print(b)

4
7
11
18
32

In [44]:
third_list = [(1, 2, 3), (3, 4, 5), (5, 6, 7), (7, 8, 9)]

In [45]:
len(third_list)

4

In [46]:
for i in third_list:
    print(i)

(1, 2, 3)
(3, 4, 5)
(5, 6, 7)
(7, 8, 9)

In [47]:
for x, y, z in third_list:
    print(x, y, z)

1 2 3
3 4 5
5 6 7
7 8 9

In [48]:
for x, y, z in third_list:
    print(x)

1
3
5
7

In [49]:
for x, y, z in third_list:
    print(y)

2
4
6
8

In [50]:
for x, y, z in third_list:
    print(z)

3
5
7
9

In [52]:
for x, y, z in third_list:
    print(xyz)

NameError: name 'xy' is not defined

In [53]:
for x, y, z in third_list:
    print(x)
    print(y)
    print(z)

1
2
3
3
4
5
5
6
7
7
8
9

In [59]:
my_dict = {'k1': 21, "k2":12, "k3":13, "k4":34, "k5":65 }

In [60]:
len(my_dict)

5

In [61]:
my_dict

{'k1': 21, 'k2': 12, 'k3': 13, 'k4': 34, 'k5': 65}

In [62]:
for item in my_dict:
    print(item)

k1
k2
k3
k4
k5

In [63]:
for x, y in my_dict:
    print(x, y)

k 1
k 2
k 3
k 4
k 5

In [64]:
for item in my_dict.items():
    print(item)

('k1', 21)
('k2', 12)
('k3', 13)
('k4', 34)
('k5', 65)

In [65]:
for item in my_dict.keys():
    print(item)

k1
k2
k3
k4
k5

In [66]:
for item in my_dict.values():
    print(item)

21
12
13
34
65

In [69]:
for key, value in my_dict:
    print(value)

1
2
3
4
5

In [11]:
dit = {'concrete :': 'Contrasted with *abstract',
      'countable :': 'Designating a noun with singular and plural forms',
       'det :': 'determinative',
       'heard :': 'Pavarotti'
      }

In [12]:
dit

{'concrete :': 'Contrasted with *abstract',
 'countable :': 'Designating a noun with singular and plural forms',
 'det :': 'determinative',
 'heard :': 'Pavarotti'}

In [13]:
for key in dit:
    print(key)

concrete :
countable :
det :
heard :

In [14]:
for value in dit.values():
    print(value)

Contrasted with *abstract
Designating a noun with singular and plural forms
determinative
Pavarotti

In [15]:
for key, values in dit.items():
    print(key, values)

concrete : Contrasted with *abstract
countable : Designating a noun with singular and plural forms
det : determinative
heard : Pavarotti

In [16]:
for x, y in dit.items():
    print(x, y)

concrete : Contrasted with *abstract
countable : Designating a noun with singular and plural forms
det : determinative
heard : Pavarotti

In [24]:
l = [2, 3, 4, 5, 7, 9, 'a']

for n in l:
    print(n)

2
3
4
5
7
9
a

In [26]:
for x in enumerate(l):
    print(x)

(0, 2)
(1, 3)
(2, 4)
(3, 5)
(4, 7)
(5, 9)
(6, 'a')

In [31]:
for ind, num in enumerate(l):
    print('The number', num, 'is following index: ', ind)

The number 2 is following index:  0
The number 3 is following index:  1
The number 4 is following index:  2
The number 5 is following index:  3
The number 7 is following index:  4
The number 9 is following index:  5
The number a is following index:  6

# WHILE--LOOP

In [73]:
x = 0
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [75]:
x = 0
while x <11:
    print(f'The current value of x is {x}')
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
The current value of x is 5
The current value of x is 6
The current value of x is 7
The current value of x is 8
The current value of x is 9
The current value of x is 10

In [76]:

x = 0                                               # while loop with else statemenr
while x <11:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X is not less then 6 ")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
The current value of x is 5
The current value of x is 6
The current value of x is 7
The current value of x is 8
The current value of x is 9
The current value of x is 10
X is not less then 6

In [79]:
x = 15
while x <11:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X is more then 11 ")

X is more then 11

In [80]:
my_string

'Islam-is-the-religion-of-peace'

In [85]:
for letter in my_string:
    if letter == 'n':
        break
    print(letter)

I
s
l
a
m
-
i
s
-
t
h
e
-
r
e
l
i
g
i
o

In [86]:
for letter in my_string:
    if letter == 't':
        break
    print(letter)

I
s
l
a
m
-
i
s
-