In [1]:
#Lists, Tuples and Dictionaries

In [2]:
#LIST
empty_list = []
print(empty_list)

[]

In [3]:
empty_list = []
print(type(empty_list))

<class 'list'>

In [4]:
empty_list = list()
print(type(empty_list))

<class 'list'>

In [5]:
#Occasionally we will combine two or three lists together.
list1 = [1, 2, 3, 4, 5]
list2 = ["Mohsin", "Raza", "Ali", "Ahmed", "Hamza", "Haider"]
list3 = ["Mohsin", 1, "Raza", 2, "Ali", 3, "Ahmed", 4, "Hamza", 5]

list4 = list1 + list2 + list3

print(list4)

[1, 2, 3, 4, 5, 'Mohsin', 'Raza', 'Ali', 'Ahmed', 'Hamza', 'Haider', 'Mohsin', 1, 'Raza', 2, 'Ali', 3, 'Ahmed', 4, 'Hamza', 5]

In [7]:
list = []
list1 =[2, 4, 6]
list.extend(list1)
print(list)

[2, 4, 6]

In [8]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
list = [12, 34, 23, 45, 89, 78, 90, 56, 10]
list.sort()
list

[10, 12, 23, 34, 45, 56, 78, 89, 90]

In [16]:
list1 = [5*2, 3*3, 4*2, 5, 6*9, 23, 43]
list2 = [11, 18, 24, 45, 67, 98, 78]
list3 = list1 + list2
print(list3)
list3.sort()
print(list3)

[10, 9, 8, 5, 54, 23, 43, 11, 18, 24, 45, 67, 98, 78]
[5, 8, 9, 10, 11, 18, 23, 24, 43, 45, 54, 67, 78, 98]

In [14]:
list1 = [5*2, 3*3, 4*2, 5, 6*9, 23, 43]
print(list1)

[10, 9, 8, 5, 54, 23, 43]

In [17]:
list1 = [5*2, 3*3, 4*2, 5, 6*9, 23, 43]
list2 = [11, 18, 24, 45, 67, 98, 78]
list3 = list1 + list2
print(list3.sort())

None

In [18]:
#Slicing
list1 = [5*2, 3*3, 4*2, 5, 6*9, 23, 43]
print(list1)
print(list1[1])

[10, 9, 8, 5, 54, 23, 43]
9

In [19]:
list1 = [5*2, 3*3, 4*2, 5, 6*9, 23, 43]
print(list1)
print(list1[0:6])

[10, 9, 8, 5, 54, 23, 43]
[10, 9, 8, 5, 54, 23]

In [23]:
list1 = [5*2, 3*3, 4*2, 5, 6*9, 23, 43]
print(list1)
print(list1[0:2:5])

[10, 9, 8, 5, 54, 23, 43]
[10]

In [28]:
#the list is mutable(can be changed)
list = ["Mohsin", "Raza", "Ali", "Ahmed", "Hamza", "Haider"]
print(list.add("Abdullah", "Hamid"))
print(list)

AttributeError: 'list' object has no attribute 'add'

In [29]:
#Tuple

In [30]:
tuple = (1, 2, 3, 4, 5, 6)
tuple

(1, 2, 3, 4, 5, 6)

In [31]:
tuple[0]

1

In [32]:
tuple[0:5]

(1, 2, 3, 4, 5)

In [35]:
tuple=()
print(type(tuple))

<class 'tuple'>

In [36]:
#Dictionaries

In [37]:
dict = {}
print(type(dict))

<class 'dict'>

In [38]:
dict = {"Mohsin": "Raza", "Ali": "Ahmed", "Abdullah": "Arshad"}
print(dict)

{'Mohsin': 'Raza', 'Ali': 'Ahmed', 'Abdullah': 'Arshad'}

In [39]:
dict = {"Mohsin": "Raza", "Ali": "Ahmed", "Abdullah": "Arshad"}
print(dict["Mohsin"])

Raza

In [40]:
dict = {"Mohsin": "Raza", "Ali": "Ahmed", "Abdullah": "Arshad"}
print(dict["Ali"])

Ahmed

In [43]:
dict = {"Mohsin": "Raza", "Ali": "Ahmed", "Abdullah": "Arshad"}
print(dict.keys())

dict_keys(['Mohsin', 'Ali', 'Abdullah'])

In [45]:
dict = {"Mohsin": "Raza", "Ali": "Ahmed", "Abdullah": "Arshad"}
print(dict.values())

dict_values(['Raza', 'Ahmed', 'Arshad'])

In [46]:
#Conditional Statements if/else

In [49]:
num1 = 22
num2 = 12
if num1>25 and num2<20:
    print("This is True!")
elif  num1>=25 and num2<=20:
    print("The values are equal")
else:
    print("This is False")

This is False

In [50]:
num1 = 25
num2 = 12
if num1>25 and num2<20:
    print("This is True!")
elif  num1>=25 and num2<=20:
    print("The values are equal")
else:
    print("This is False")

The values are equal

In [51]:
num1 = 25
num2 = 20
if num1>25 and num2<20:
    print("This is True!")
elif  num1>=25 and num2<=20:
    print("The values are equal")
else:
    print("This is False")

The values are equal

In [52]:
num1 = 26
num2 = 12
if num1>25 and num2<20:
    print("This is True!")
elif  num1>=25 and num2<=20:
    print("The values are equal")
else:
    print("This is False")

This is True!

In [53]:
num1 = 26
num2 = 19
if num1>25 and num2<20:
    print("This is True!")
elif  num1>=25 and num2<=20:
    print("The values are equal")
else:
    print("This is False")

This is True!

In [54]:
num1 = 22
num2 = 12
if num1>25 and num2<20:
    print("This is True!")
elif  num1>=25 and num2<=20:
    print("The values are equal")
else:
    print("This is False")

This is False

In [56]:
value = 8
if value < 10:
    print("That's a great deal!")
elif 10 <= value <= 20:
    print("I'd still pay that...")
else:
    print("Wow! That's too much!")

That's a great deal!

In [58]:
value = 10
if value < 10:
    print("That's a great deal!")
elif 10 <= value <= 20:
    print("I'd still pay that...")
else:
    print("Wow! That's too much!")

I'd still pay that...

In [59]:
value = 21
if value < 10:
    print("That's a great deal!")
elif 10 <= value <= 20:
    print("I'd still pay that...")
else:
    print("Wow! That's too much!")

Wow! That's too much!

In [60]:
# OR
a = 45
b = 25
if a>b or b>a:
    print("True")
else:
    print("False")

True

In [62]:
a = 15
b = 225
if a>b or b<a:
    print("True")
else:
    print("False")

False

In [63]:
a = 45
b = 25
if a>50 or b>30:
    print("True")
else:
    print("False")

False

In [64]:
a = 45
b = 25
if a>30 or b>10:
    print("True")
else:
    print("False")

True

In [65]:
a = 45
b = 25
if a>50 or b>20:
    print("True")
else:
    print("False")

True

In [66]:
# AND
a = 45
b = 25
if a>50 and b>30:
    print("True")
else:
    print("False")

False

In [67]:
a = 45
b = 25
if a>30 and b>30:
    print("True")
else:
    print("False")

False

In [68]:
a = 45
b = 25
if a>30 and b>20:
    print("True")
else:
    print("False")

True

In [69]:
x = 10
y = 10
if x == 10 and y == 15:
    print("This statement was True")
else:
    print("The statement was False!")

The statement was False!

In [70]:
# NOT
list = [1, 2, 3,4,5,6, 9]
x = 3
if x not in list:
    print("False")
else:
    print("True")

True

In [71]:
list = [1, 2, 3,4,5,6, 9]
x = 10
if x not in list:
    print("False")
else:
    print("True")

False

In [72]:
my_list = [1, 2, 3, 4]
x = 10
if x not in my_list:
    print("'x' is not in the list, so this is True!")

'x' is not in the list, so this is True!

In [73]:
x = 10
if x != 11:
    print("x is not equal to 11!")

x is not equal to 11!

In [75]:
my_list = [1, 2, 3, 4]
x = 10
z = 11
if x not in my_list and z != 10:
    print("This is True!")

This is True!

In [78]:
# NONE
if empty_list == []:
    print("It's an empty list!")
if empty_tuple == ():
    print("It's not an empty tuple!")
if not empty_string == "":
    print("This is an empty string!")
if not nothing:
    print("Then it's nothing!")

It's an empty list!

NameError: name 'empty_tuple' is not defined

In [80]:
empty_string = "something"
if empty_string == "":
    print("This is an empty string!")

In [ ]:
# Spaial characters \n, \t, \\