In [2]:
#String
"This is a string"

'This is a string'

In [3]:
"Muhammad Faisal, Ali Ahmed, Abdullah"

'Muhammad Faisal, Ali Ahmed, Abdullah'

In [4]:
"I told my friend! 'This is String'"

"I told my friend! 'This is String'"

In [5]:
'I told my friend, "Python is my favorite language!"'
"The language 'Python' is named after Monty Python, not the snake."
"One of Python's strengths is its diverse and supportive community."

"One of Python's strengths is its diverse and supportive community."

In [7]:
#Single quote string only used for single line
my_string = 'I told my friend! This is my favorite language'
print(my_string)

I told my friend! This is my favorite language

In [8]:
#Double qoute string only used for single line
my_string = "The language 'Python' is named after Monty Python, not the snake"
print(my_string)

The language 'Python' is named after Monty Python, not the snake

In [9]:
#Triple quote string for  Multiple  lines
my_string = '''I told my friend, "Python is my favorite language!"
The language "Python" is named after Monty Python, not the sanke
One of Python's strengths is its diverse and supportive comunity'''

print(my_string)

I told my friend, "Python is my favorite language!"
The language "Python" is named after Monty Python, not the sanke
One of Python's strengths is its diverse and supportive comunity

In [17]:
#Multiple Strings
multiple_string = '''   I'm a Python Programmer!\n"The word 'Python' usually refers to a snake!"
Then 'Python' is my favorite language'''

print(multiple_string)

   I'm a Python Programmer!
"The word 'Python' usually refers to a snake!"
Then 'Python' is my favorite language

In [18]:
#String Methods
#Casting
my_number =12345
my_string = str(12345)
print(my_string)

12345

In [19]:
#int(‘ABC’)
#This throw out an error message.

#However if we do this way
#x=int(“123”)
#Then it would work fine

In [21]:
#String Concatenation
#Concatenation means combining two things together.
string_one = "Good Morning!"
string_two = "\nMohsin Raza"
string = string_one + string_two
print(string)

Good Morning!
Mohsin Raza

In [22]:
#String Methods
my_string = "This is a string"
my_string.upper()

'THIS IS A STRING'

In [23]:
my_string = "THIS IS A STRING"
my_string.lower()

'this is a string'

In [24]:
#All the string commands
my_string = "THIS IS A STRING"
dir(my_string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [32]:
#String Slicing
my_string = "My Country Pakistan, It's Beutiful Country."
my_string[0:3]

'My '

In [28]:
my_string = "My Country Pakistan, It's Beutiful Country."
my_string[3:25]

"Country Pakistan, It's"

In [37]:
my_string = "My Country Pakistan, It's Beutiful Country."
my_string[:30]

"My Country Pakistan, It's Beut"

In [38]:
my_string = "My Country Pakistan, It's Beutiful Country."
my_string[-22:-1]

"It's Beutiful Country"

In [40]:
my_string = "My Country Pakistan, It's Beutiful Country."
my_string[3]

'C'

In [43]:
my_string = "My Country Pakistan, It's Beutiful Country."
my_string[21]

'I'

In [45]:
#The old way of string substitution step 1
my_string = 'I like %s Language'%'Python'
print(my_string)

I like Python Language

In [48]:
my_string = "I like reading %s related to the %s!" %('Books','Entertainment')
print(my_string)

I like reading Books related to the Entertainment!

In [49]:
#The old way of string substitution step 2
var = "cookies"
newString = "I like %s" % var
newString

'I like cookies'

In [50]:
#The old way of string substitution step 3
var = "cookies"
another_string = "I like %s and %s" % ("Python", var)
print(another_string)

I like Python and cookies

In [51]:
#Examples with integers
my_string = "%i + %i = %i" % (1,2,3)
my_string

'1 + 2 = 3'

In [53]:
#Examples with float
float_string = "%f" % (1.23)
float_string

'1.230000'

In [54]:
float_string2 = "%.2f" % (1.23)
float_string2

'1.23'

In [55]:
#Templates and the New String Formatting Methodology
print("%(lang)s is fun!" % {"lang":"Python"})

Python is fun!

In [56]:
#More Examples with text 
print("%(value)s %(value)s %(value)s !" % {"value":"Sharfoo"})

Sharfoo Sharfoo Sharfoo !

In [57]:
#More examples with number
print("%(x)i + %(y)i = %(z)i" % {"x":1, "y":2, "z":3})

1 + 2 = 3

In [58]:
#Another example
"Python is as simple as {0}, {1}, {2}".format("a", "b", "c")

'Python is as simple as a, b, c'

In [59]:
#Another example
xy = {"x":0, "y":10}
print("Graph a point at where x={x} and y={y}".format(**xy))

Graph a point at where x=0 and y=10