# Functions in Python

You define a method as a combination of 'def' statement and return statement, including your code block in between.

Suppose, If you were to write code that takes one integer argument and returns 'TRUE' If the number is 'Even' and 'FALSE' If the number is 'Odd', You can do so using the following Methods.......

In [1]:
def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

In [2]:
is_even(5)

False

In [3]:
is_even(8)

True

In [4]:
is_even(13)

False

In [5]:
is_even(14)

True

In [9]:
def is_even(number):
    if number%2 == 0 and number != 0:
        print(f"This {number} is an Even Number.")
    elif number%2 != 0:
        print(f"This {number} is an Odd Number.")
    else:
        print("This {number} is Zero!")

In [10]:
is_even(24)

This 24 is an Even Number.

In [11]:
is_even(23)

This 23 is an Odd Number.

In [12]:
is_even(100)

This 100 is an Even Number.

In [13]:
is_even(115)

This 115 is an Odd Number.

In [14]:
names = ["Mohsin", "Ali", "Raza", "Ahmed"]

In [16]:
range(len(names))

range(0, 4)

In [18]:
for i in range(len(names)):
    names[i] = 'Mr.' + names[i]

In [19]:
names

['Mr.Mohsin', 'Mr.Ali', 'Mr.Raza', 'Mr.Ahmed']

In [20]:
nm = ["Primer", "Alpha", "Beta", "Gamma"]

In [21]:
nm

['Primer', 'Alpha', 'Beta', 'Gamma']

In [22]:
for i in range(len(nm)):
    nm[i] = "Basic." + nm[i]

In [23]:
nm

['Basic.Primer', 'Basic.Alpha', 'Basic.Beta', 'Basic.Gamma']

In [8]:
def my_friends(friend_name):
    print(my_friends)

In [9]:
my_friends('Ali', '9')

TypeError: my_friends() takes 1 positional argument but 2 were given